/*=============================================
=                   nav                   =
=============================================*/
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  font-weight: 700;
  font-size: 18px;
}

nav .row i {
  font-size: 20px !important;
}

nav .row .call__nav h6 {
  font-size: 14px !important;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}

/*============  End of nav  =============*/
