/*=============================================
=                   rtl                       =
=============================================*/

[dir="rtl"]{
    .mr__item__nav{
        margin-right: auto !important;
    }
    @media (max-width:768px){
        .phone_nav{
        position: absolute;
        top: 10px !important;
        left:90px  !important;
        }
    }
}

/*============  End of rtl  =============*/


